.container{
  background:rgba(183, 233, 238, 0.514);
  width: 500px;
  height: 100%;
  border: 1px solid black;
}

.wrapper{
  background:rgba(29, 229, 255, 0.445);
  width: 300px;
  height: 100%;
}
.title{
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 1%;
}
.number{
  color: blue
}
.crawl{
  color: green
}
.char-btn{
  font-weight: bold;
  background:teal;
  border:2px solid white;
  margin: 3%;
  padding: 1%;
  margin-left: 0;

}
