.card-title {
  font-weight: bold;
  font-size: 1 rem;
}

.card-image {
  // border-radius: 3px 3px 0 0 !important;
  
}

.card-headers {
  display: flex;
  justify-content: space-between;
}

.fav {
  color: #d4af37 !important;
}

.good-price {
  font-size: 1.2rem !important;
  margin-bottom: 20px;
  font-weight: 500;
}