.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: teal;
  width: 33%;
  height: 700px;
  border: 1px solid black;
}


.wrapper{
  display: flex;
  align-items:center;
  flex-direction: column;
  margin-top: 3%;
  background:rgb(23, 196, 196);
  width: 90%;
  height: 90%;
}
.btn-container{
  margin-top: 2%;
}
.btn{
  width: 455px;
  height: 30px;
  background: rgb(28, 177, 177);
}

.card{
  display: flex;
  height: 23%;
  width: 95%;
  margin-top: 2%;
  margin-bottom: 2%;
  background:rgb(159, 159, 182);
  border:1px solid black;
}

