.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @extend .container;
  &__item {
    width: calc(100%/4 - 10px);
    height: 270px;
    overflow: hidden;
    position: relative;
    &:hover .gallery__item-info {
      top: 0;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-info {
      position: absolute;
      top: 270px;
      left: 0;
      height: 100%;
      background-color: #fff;
      transition: top 0.3s linear;
    }
  }
}







