@import "variables";


.navigation {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  display: flex;
  width: 1280px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #373c3f;
  color: #fff;
  font-size: 12px;
  
}
 
@import "gallery";
@import "media";