.container {
  font-family: Verdana, "Trebuchet MS", Geneva, sans-serif;
  margin: 0 auto;
  width: 1366px;
  height: 768px;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 0px 0 1000px rgba(0, 0, 0, 0.75)
}

.main-section {
  margin-left: 155px;
}

/* Секция для логотипа и контактов */

.top-section {
  display: inline-block;
  margin-bottom: 45px;
  margin-top: 40px;
}

.logo {
  display: inline-block;
  color: white;
}

.picture {
  display: inline-block;
  width: 46px;
  height: 44px;
  background-image: url(../img/logo-original.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-info {
  display: inline-block;
  margin-left: 15px;
  text-transform: uppercase;

}

.logo:hover {
  color: #f26522;
}

.logo:hover .picture {
  display: inline-block;
  width: 46px;
  height: 44px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-first-link {
  font-weight: bold;
  font-size: 29px;
}

.logo-second-link {
  font-size: 18px;
  font-weight: bold;
}

/* Контакты */

.contacts {
  text-align: right;
  font-size: 18px;
  color: white;
  float: right;
  margin-left: 652px;
}

.clearfix {
  clear: both;
}

/* Cекция для фото */

.photo-section {
  display: inline-block;

}

.clearfix {
  clear: both;
}

.main-photo {
  float: left;
  margin-right: 69px;
  margin-bottom: 58px;
}

.photo {
  display: inline-block;
  width: 307px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid;
  border-image: linear-gradient(to top, black, white) 1;
  /* margin-bottom: 55px; */
  position: relative;
  overflow: hidden;

}

.price {
  display: inline-block;
  color: white;
  position: absolute;
  padding: 31px 0 17px 0;
  background-color: #f26522dd;
  width: 100%;
  bottom: -33%;
  transition: .4s;
  padding-left: 30px;
}

/* HOWER!!! */

 .main-photo:hover .price {
  position: absolute;
  bottom: 0px;
  bottom: 0%;
}

 

.main-img {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.photo-text-box {
  display: inline-block;
}



.photo-text {
  text-align: center;
  font-size: 18px;
  color:white;
  text-decoration: none;
  padding-top: 20px;
  /* padding-bottom: 55px; */
}



/* HOWER!!!  */
.main-photo:hover .photo-text {
  color: #f26522dd;
}

/* Псевдоэлемент 1 */

.price::after {
  content: '\20AC';
  position: absolute;
  left: 20px;

}

/* Псевдоэлемент 2 */

.price::before {
  position: absolute;
  top: 20px;
  left: 20px;
  content: 'from';
  font-size: 10px;
}


.photo-link {
  text-decoration: none;
}

.price-text {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.price-details {
  position: absolute;
  bottom: 18px;
  padding-left: 125px;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

/* Псевдоэлемент 3 */

.price-details::after {
  content: '\203A';
  position: absolute;
  bottom: -3px;
  right: -28px;
  font-size: 20px;
}

/* Секция для футера */

.footer {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
  color: white;
  padding-bottom: 20px;
}