/* * {
  margin: 0;
} */

/* .footer{
  width:100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 40px 0;
  color: antiquewhite;
} */

.infinity-slider-wrap {
  border: 1px solid black;
  width: 800px;
  height: 600px;
  margin: 50px auto;
  position: relative;
}

.infinity-slider{
  width: 800px;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.infinity-slider img {
  width: 800px;
  height: 600px;
  position: absolute;
  opacity: 1;
  transition: all ease 1s;
}

.infinity-slider .opacity0{
  opacity: 0;
}

.btn-up, .btn-down{
  
  margin: 20px auto; 
  width: 100px;
  height: 36px;
  border: 2px solid black;
  background-color: aqua;
  /* background-size: contain; */
}
